mat-card {
  margin: 5px;
}

a {
  color: #c7c7c7;
}

mat-card-subtitle:hover {
  cursor: pointer;
  text-decoration: underline;
}

mat-card-title {
  display: flex;
  gap: 5px;
}
.menu-container {
  flex-grow: 1;
  display: flex;
  justify-content: end;
  align-items: center;

  .modified-message {
    font-style: italic;
    color: grey;
  }
}
