<mat-card>
  <mat-card-header>
    <img mat-card-avatar [src]="message?.author?.image || 'assets/defaultpb.png'" [alt]="'Profilepicture from' + message?.author?.username" *ngIf="settings?.showAvatar">
    <mat-card-title>{{message?.author?.name}} <app-batch-list [user]="message?.author"></app-batch-list></mat-card-title>
    <mat-card-subtitle><a [routerLink]="'/user/'+message?.author?.id">@{{message?.author?.username}}</a></mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    {{message?.message}}
  </mat-card-content>
</mat-card>