<div class="review-grid">
  <div>
    <mat-card class="overview">
      <mat-card-header>
        <mat-card-title>
          Overview
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        Average stars: 3,54
        <mat-grid-list cols="20" rowHeight="50px" class="overview-grid">
          <mat-grid-tile colspan="5">
            5 Sterne
          </mat-grid-tile>
          <mat-grid-tile colspan="15">
            <mat-progress-bar mode="determinate" value="20"></mat-progress-bar>
          </mat-grid-tile>
        </mat-grid-list>
        <mat-grid-list cols="20" rowHeight="50px" class="overview-grid">
          <mat-grid-tile colspan="5">
            4 Sterne
          </mat-grid-tile>
          <mat-grid-tile colspan="15">
            <mat-progress-bar mode="determinate" value="50"></mat-progress-bar>
          </mat-grid-tile>
        </mat-grid-list>
        <mat-grid-list cols="20" rowHeight="50px" class="overview-grid">
          <mat-grid-tile colspan="5">
            3 Sterne
          </mat-grid-tile>
          <mat-grid-tile colspan="15">
            <mat-progress-bar mode="determinate" value="60"></mat-progress-bar>
          </mat-grid-tile>
        </mat-grid-list>
        <mat-grid-list cols="20" rowHeight="50px" class="overview-grid">
          <mat-grid-tile colspan="5">
            2 Sterne
          </mat-grid-tile>
          <mat-grid-tile colspan="15">
            <mat-progress-bar mode="determinate" value="10"></mat-progress-bar>
          </mat-grid-tile>
        </mat-grid-list>
        <mat-grid-list cols="20" rowHeight="50px" class="overview-grid">
          <mat-grid-tile colspan="5">
            1 Stern
          </mat-grid-tile>
          <mat-grid-tile colspan="15">
            <mat-progress-bar mode="determinate" value="5"></mat-progress-bar>
          </mat-grid-tile>
        </mat-grid-list>
      </mat-card-content>
    </mat-card>
  </div>
  <div>
    <button mat-button (click)="openMock()">Rezension schreiben</button>
    @if (user?.receivedReviews?.length) {
      @for (review of user?.receivedReviews; track review.id) {
        <app-comment [review]="review"></app-comment>
      }
    }
  </div>
</div>