<mat-list-item>
  <img matListItemAvatar [src]="user?.image || './assets/defaultpb.png'" *ngIf="clientUser?.settings?.showAvatar">
  <span matListItemTitle>{{user?.name}} <app-batch-list [user]="user"></app-batch-list></span>
  <span matListItemLine class="username"><a [routerLink]=" '../user/' + user?.id ">@{{user?.username}}</a></span>
  <button matListItemMeta mat-icon-button id="btn" (click)="toggleFriendStatus()">
    <mat-icon *ngIf="!isFriend">add</mat-icon>
    <mat-icon *ngIf="isFriend">remove</mat-icon>
  </button>
</mat-list-item>
<mat-divider></mat-divider>