<div class="background"></div>
<mat-card>
  <mat-card-header>
    <mat-card-title>
      <h2>{{languageService.getValue(type == 'login' ? 'login' : 'register')}}</h2>
    </mat-card-title>
    <p class="error" *ngIf="error">{{error}}</p>
  </mat-card-header>

  <form [formGroup]="loginForm" (ngSubmit)="login()" *ngIf="type == 'login'">
    <mat-card-content>
      <mat-form-field floatLabel="always">
        <mat-label>{{languageService.getValue('username')}}</mat-label>
        <p matTextPrefix>
          @
        </p>
        <input matInput type="text" #username formControlName="username" required placeholder="madu">
        <mat-error>{{languageService.getValue('username')}} {{languageService.getValue('isRequiredErr')}}</mat-error>
      </mat-form-field>
  
      <mat-form-field floatLabel="always">
        <mat-label>{{languageService.getValue('password')}}</mat-label>
        <input matInput [type]="hideLogin ? 'password' : 'text'" #password formControlName="password" required>
        <button mat-icon-button matSuffix (click)="hideLogin = !hideLogin" type="button">
          <mat-icon color="primary">{{hideLogin ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error>{{languageService.getValue('password')}} {{languageService.getValue('isRequiredErr')}}</mat-error>
      </mat-form-field>
    </mat-card-content>
  
    <mat-card-actions>
      <button mat-button type="button" (click)="type = 'register'" type="button">{{languageService.getValue('register') | uppercase}}</button>
      <button mat-flat-button color="primary" type="submit" [disabled]="!loginForm.valid">{{languageService.getValue('login') | uppercase}}</button>
    </mat-card-actions>
    <mat-card-footer>
      <mat-progress-bar *ngIf="loading" mode="query"></mat-progress-bar>
    </mat-card-footer>
  </form>

  <form [formGroup]="registerForm" (ngSubmit)="register()" *ngIf="type == 'register'">
    <mat-card-content>
      <mat-form-field floatLabel="always">
        <mat-label>Email</mat-label>
        <input matInput type="email" #email formControlName="email" required placeholder="madu@example.com">
        <mat-error *ngIf="registerForm.controls.email.hasError('required')">Email {{languageService.getValue('isRequiredErr')}}</mat-error>
        <mat-error *ngIf="registerForm.controls.email.hasError('email') && !registerForm.controls.email.hasError('required')">Email {{languageService.getValue('isWrong')}}</mat-error>
      </mat-form-field>

      <mat-form-field floatLabel="always">
        <mat-label>{{languageService.getValue('username')}}</mat-label>
        <p matTextPrefix>
          @
        </p>
        <input matInput type="text" #username formControlName="username" required placeholder="madu">
        <mat-error>{{languageService.getValue('username')}} {{languageService.getValue('isRequiredErr')}}</mat-error>
      </mat-form-field>

      <mat-form-field floatLabel="always">
        <mat-label>{{languageService.getValue('name')}}</mat-label>
        <input matInput type="text" #name formControlName="name" required placeholder="Madu">
        <mat-error *ngIf="registerForm.controls.name.hasError('required')">{{languageService.getValue('name')}} {{languageService.getValue('isRequiredErr')}}</mat-error>
        <mat-error *ngIf="registerForm.controls.name.hasError('minlength')">{{languageService.getValue('name')}} {{languageService.getValue('isTooShort')}}</mat-error>
        <mat-error *ngIf="registerForm.controls.name.hasError('maxlength')">{{languageService.getValue('name')}} {{languageService.getValue('isTooLong')}}</mat-error>
      </mat-form-field>
      
      <mat-form-field floatLabel="always" subscriptSizing="dynamic">
        <mat-label>{{languageService.getValue('password')}}</mat-label>
        <input matInput [type]="hideRegister ? 'password' : 'text'" #password formControlName="password" required>
        <button mat-icon-button matSuffix (click)="hideRegister = !hideRegister" type="button">
          <mat-icon color="primary">{{hideRegister ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error *ngIf="registerForm.controls.password.hasError('required')">{{languageService.getValue('password')}} {{languageService.getValue('isRequiredErr')}}</mat-error>
        <mat-error *ngIf="registerForm.controls.password.hasError('minlength')">{{languageService.getValue('password')}} {{languageService.getValue('isTooShort')}}</mat-error>
        <mat-error *ngIf="registerForm.controls.password.hasError('pattern')">{{languageService.getValue('passwordPatternErr')}}</mat-error>
      </mat-form-field>
      <br *ngIf="addPasswordBr">
      
      <mat-form-field floatLabel="always">
        <mat-label>{{languageService.getValue('confirmPassword')}}</mat-label>
        <input matInput [type]="hideRegisterConfirm ? 'password' : 'text'" #password formControlName="passwordConfirm" required>
        <button mat-icon-button matSuffix (click)="hideRegisterConfirm = !hideRegisterConfirm" type="button">
          <mat-icon color="primary">{{hideRegisterConfirm ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error>{{languageService.getValue('confirmPassword')}} {{languageService.getValue('isRequiredErr')}}</mat-error>
      </mat-form-field>
    </mat-card-content>
  
    <mat-card-actions>
      <button mat-button type="button" (click)="type = 'login'" type="button">{{languageService.getValue('login') | uppercase}}</button>
      <button mat-flat-button color="primary" type="submit" [disabled]="!registerForm.valid">{{languageService.getValue('register') | uppercase}}</button>
    </mat-card-actions>
    <mat-card-footer>
      <mat-progress-bar *ngIf="loading" mode="query"></mat-progress-bar>
    </mat-card-footer>
  </form>
</mat-card>