<mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>
<mat-list>
  <mat-list-item>
    <h2>{{languageService.getValue('general')}}</h2>
  </mat-list-item>
  <ng-container *ngIf="!loading">
    <settings-option
      [user]="user"
      type="toggle"
      settingsId="showAvatar"
      [label]="languageService.getValue('showAvatar')">
    </settings-option>
    <settings-option 
      [user]="user"
      type="select" 
      settingsId="language" 
      [label]="languageService.getValue('language')" 
      [selectionList]="languageService.getLanguages()"
      (onChange)="languageService.setLanguage($event.value)">
    </settings-option>
  </ng-container>

  <mat-divider></mat-divider>
</mat-list>