<mat-list>
  <mat-list-item>
    <span matListItemTitle>Recieved <span class="dark">{{user?.friendRequetsRecieved?.length}}</span></span>
  </mat-list-item>
  <app-user-list [users]="user?.friendRequetsRecieved || []" [clientUser]="user"></app-user-list>
  <mat-list-item>
    <span matListItemTitle>Sent <span class="dark">{{user?.friendRequestsSent?.length}}</span></span>
  </mat-list-item>
  <app-user-list [users]="user?.friendRequestsSent || []" [clientUser]="user"></app-user-list>
</mat-list>