<mat-list>
  <mat-list-item>
    <span matListItemTitle>{{languageService.getValue('received')}} <span class="dark">{{user?.friendRequetsReceived?.length}}</span></span>
  </mat-list-item>
  <app-user-list [users]="user?.friendRequetsReceived || []" [clientUser]="user"></app-user-list>
  <mat-list-item>
    <span matListItemTitle>{{languageService.getValue('sent')}} <span class="dark">{{user?.friendRequestsSent?.length}}</span></span>
  </mat-list-item>
  <app-user-list [users]="user?.friendRequestsSent || []" [clientUser]="user"></app-user-list>
</mat-list>