<h1 mat-dialog-title>{{languageService.getValue('editChat')}}</h1>
<mat-dialog-content>
  <form [formGroup]="chat" (ngSubmit)="saveChat()">
    <mat-form-field>
      <mat-label>{{languageService.getValue('name')}}</mat-label>
      <input formControlName="name" matInput type="text" maxlength="20">
      <mat-error *ngIf="chat.controls['name'].hasError('required')">{{languageService.getValue('name')}} {{languageService.getValue('isTooShort')}}</mat-error>
      <mat-error *ngIf="chat.controls['name'].hasError('minlength')">{{languageService.getValue('name')}} {{languageService.getValue('isTooShort')}}</mat-error>
      <mat-error *ngIf="chat.controls['name'].hasError('maxlength')">{{languageService.getValue('name')}} {{languageService.getValue('isTooLong')}}</mat-error>
    </mat-form-field>
  </form>
  <h2>Members</h2>
  <mat-list>
    <user-list-user *ngFor="let user of members" [user]="user" [clientUser]="clientUser" [isAdded]="true" (onToggle)="removeUserFromChat(user)"></user-list-user>
  </mat-list>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>{{languageService.getValue('close')}}</button>
  <button mat-button mat-flat-button color="primary" (click)="saveChat()" [disabled]="!chat.valid">{{languageService.getValue('save')}}</button>
</mat-dialog-actions>