<settings-tab [label]="languageService.getValue('profile')">
  <settings-tab-category [label]="languageService.getValue('profilepicture')">
    <settings-profile-picture [user]="user"></settings-profile-picture>
  </settings-tab-category>
  <settings-tab-category label="Privatsphäre">
    <settings-option 
        [user]="user"
        type="select" 
        settingsId="onlinePrivacy" 
        [label]="'Online status anzeigen'" 
        [selectionList]="['everyone', 'friends', 'noone']">
      </settings-option>
  </settings-tab-category>
</settings-tab>