<mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>
<div id="chat">
  <chat-message *ngFor="let message of messages" [message]="message" [settings]="clientUser?.settings"></chat-message>
  <mat-card *ngIf="!channelExists" color="warn">
    <mat-card-header style="display: flex; align-items: center;">
      <mat-icon color="warn">error</mat-icon>
      <h2 style="margin: 0 5px;">{{languageService.getValue('anErrorHasOccurred')}}</h2>
    </mat-card-header>
    <mat-card-content>
      {{languageService.getValue('chatDoesntExistErr')}}
    </mat-card-content>
  </mat-card>
</div>

<mat-form-field color="primary">
  <mat-label>{{isAbleToWrite ? languageService.getValue('writeAMessage') : languageService.getValue('notAuthorizedToWriteMessages')}}</mat-label>
  <input matInput [placeholder]="languageService.getValue('exampleMessage')" #message (keyup.enter)="submitMessageInput(message)" [disabled]="!isAbleToWrite">
  <mat-icon matSuffix color="primary" (click)="submitMessageInput(message)" [ngStyle]="{'display': isAbleToWrite ? '' : 'none'}">send</mat-icon>
</mat-form-field>