<mat-list>
    <mat-list-item>
        <mat-card>
            <mat-card-content>
                <a routerLink="/chat/global">
                    <mat-icon>public</mat-icon> {{language.getValue('publicChat')}}
                </a>
            </mat-card-content>
        </mat-card>
    </mat-list-item>
    <mat-list-item>
        <mat-card>
            <mat-card-content>
                <a routerLink="/friends">
                    <mat-icon>group</mat-icon> {{language.getValue('friends')}}
                </a>
            </mat-card-content>
        </mat-card>
    </mat-list-item>
    <mat-list-item>
        <mat-card>
            <mat-card-content>
                <a routerLink="/settings">
                    <mat-icon>settings</mat-icon> {{language.getValue('settings')}}
                </a>
            </mat-card-content>
        </mat-card>
    </mat-list-item>

    <mat-divider></mat-divider>

    <mat-list-item>
        <mat-card>
            <mat-card-content>
                <a routerLink="/">
                    <mat-icon>person</mat-icon> Hans
                </a>
            </mat-card-content>
        </mat-card>
    </mat-list-item>
    <mat-list-item>
        <mat-card>
            <mat-card-content>
                <a routerLink="/">
                    <mat-icon>group</mat-icon> Wilde Kerle
                </a>
            </mat-card-content>
        </mat-card>
    </mat-list-item>
</mat-list>