<mat-list>
    <mat-list-item>
        <mat-card>
            <a routerLink="/chat/global">
                <mat-card-content>
                    <mat-icon>public</mat-icon> {{language.getValue('publicChat')}}
                </mat-card-content>
            </a>
        </mat-card>
    </mat-list-item>
    <mat-list-item>
        <mat-card>
            <a>
                <mat-card-content>
                    <mat-icon>group_add</mat-icon> {{language.getValue('addFriend')}}
                </mat-card-content>
            </a>
        </mat-card>
    </mat-list-item>
    <mat-list-item>
        <mat-card>
            <a routerLink="/settings">
                <mat-card-content>
                    <mat-icon>settings</mat-icon> {{language.getValue('settings')}}
                </mat-card-content>
            </a>
        </mat-card>
    </mat-list-item>

    <mat-divider></mat-divider>

    <mat-list-item>
        <mat-card>
            <mat-card-content>
                <mat-icon>person</mat-icon> Hans
            </mat-card-content>
        </mat-card>
    </mat-list-item>
    <mat-list-item>
        <mat-card>
            <mat-card-content>
                <mat-icon>group</mat-icon> Wilde Kerle
            </mat-card-content>
        </mat-card>
    </mat-list-item>
</mat-list>