<mat-list>
    <mat-list-item [ngClass]="{'marked': urlPosition == '/chat/global'}">
        <mat-card>
            <mat-card-content>
                <a routerLink="/chat/global">
                    <mat-icon>public</mat-icon> {{language.getValue('publicChat')}}
                </a>
            </mat-card-content>
        </mat-card>
    </mat-list-item>
    <mat-list-item [ngClass]="{'marked': urlPosition == '/friends'}">
        <mat-card>
            <mat-card-content>
                <a routerLink="/friends">
                    <mat-icon>group</mat-icon> {{language.getValue('friends')}}
                </a>
            </mat-card-content>
        </mat-card>
    </mat-list-item>
    <mat-list-item [ngClass]="{'marked': urlPosition == '/settings'}">
        <mat-card>
            <mat-card-content>
                <a routerLink="/settings">
                    <mat-icon>settings</mat-icon> {{language.getValue('settings')}}
                </a>
            </mat-card-content>
        </mat-card>
    </mat-list-item>

    <mat-divider></mat-divider>

    <mat-list-item *ngFor="let chat of chats" [ngClass]="{'marked': urlPosition == '/chat/' + chat.id}">
        <mat-card>
            <mat-card-content>
                <a [routerLink]=" '/chat/' + chat.id ">
                    <mat-icon *ngIf="chat.members?.length == 2; else group">person</mat-icon>
                    <ng-template #group>
                        <mat-icon>group</mat-icon>
                    </ng-template>
                    {{ chat.name }}
                </a>
                <div class="actions" *ngIf="clientIsAdminOfChat(chat)">
                  <button mat-icon-button (click)="openEditMenu(chat)"><mat-icon>edit</mat-icon></button>
                  <button mat-icon-button (click)="deleteChat(chat)" color="warn"><mat-icon>delete</mat-icon></button>
                </div>
            </mat-card-content>
        </mat-card>
    </mat-list-item>
</mat-list>
