mat-list {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

mat-card-content {
    display: flex;
    align-items: center;
    gap: 8px;
}

.actions * {
    cursor: pointer;
}

mat-card-content a {
    display: flex;
    gap: 8px;
}

a {
    cursor: pointer;
}

@media screen and (max-width: 600px) {
    mat-card-content {
        margin: auto;
    }
}

.marked a {
    font-weight: 600;
}
