mat-list {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

mat-card {
    cursor: pointer;
}

mat-card-content a {
    display: flex;
    gap: 8px;
}

@media screen and (max-width: 600px) {
    mat-card-content {
        margin: auto;
    }
}